<div class="row marketing">
  <div class="col-lg-12">
    <div>
      <%= link "Get Images", to: page_path(@conn, :get_images), class: "btn" %>
      <%= link "Remove Images", to: page_path(@conn, :remove_all), class: "btn" %>
      <%= link "Json", to: page_path(@conn, :view), class: "btn" %>
    </div>
    <h3>Images:</h3>
    <ul>
      <%= for image <- @images do %>
      <li>
        <%= link "Base Image", to: static_path(@conn, image.base_path), class: "btn", target: :blank %>
        <%= link "Small Image", to: static_path(@conn, image.small_path), class: "btn", target: :blank %>
        <%= link "Medium Image", to: static_path(@conn, image.medium_path), class: "btn", target: :blank %>
        <%= link "Large Image", to: static_path(@conn, image.large_path), class: "btn", target: :blank %>
      </li>
      <li>
        <img src="<%= static_path(@conn, image.base_path) %>"/>
        <img src="<%= static_path(@conn, image.small_path) %>"/>
        <img src="<%= static_path(@conn, image.medium_path) %>"/>
        <img src="<%= static_path(@conn, image.large_path) %>"/>
      </li>
        <br>
      <% end %>
  </div>
</div>
